<header class="navbar-light navbar-sticky header-static">
  <nav class="navbar navbar-expand-lg">
    <div class="container">

      <a class="navbar-brand" href="/">
        <img class="navbar-brand-item dark-mode-item" src="/assets/images/cinema.svg" alt="logo">
      </a>

      <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
              aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav navbar-nav-scroll ms-auto">
          <li class="nav-item dropdown">
            <a href="#" class="nav-link active">Accueil</a>
          </li>

          <li *ngIf="authService.isAdmin() || authService.isModerator()" class="nav-item">
            <a class="nav-link" href="/dashboard">Dashboard</a>
          </li>

<!--          <li class="nav-item">-->
<!--            <a href="/suggest" class="nav-link">Suggest a movie</a>-->
<!--          </li>-->
        </ul>
      </div>

      <div class="nav flex-nowrap align-items-center ms-3">
        <div *ngIf="!isAuth" class="nav-item d-none d-md-block btn-group">
          <a href="/login" class="btn btn-sm btn-info mb-0">Sign In</a>
          <a href="/register" class="btn btn-sm btn-outline-primary mb-0">Sign Up</a>
        </div>

        <div *ngIf="isAuth" class="ms-2 ms-md-3 dropdown">
          <!-- Avatar -->
          <a class="avatar avatar-sm p-0" href="#" id="profileDropdown" role="button" data-bs-auto-close="outside" data-bs-display="static" data-bs-toggle="dropdown" aria-expanded="false">
            <img class="avatar-img rounded-circle" src="https://static.hephe.net/images/profile/pp_circle.png" alt="avatar">
          </a>

          <ul class="dropdown-menu dropdown-animation dropdown-menu-end shadow pt-3" aria-labelledby="profileDropdown">
            <li class="px-3">
              <div class="d-flex align-items-center">
                <div class="avatar me-3">
                  <img class="avatar-img rounded-circle shadow" src="https://static.hephe.net/images/profile/pp_circle.png" alt="avatar">
                </div>
                <div>
                  <p class="h6 mt-2 mt-sm-0 p-0" href="#"> {{ user.username }}</p>
                  <p class="small m-0">{{ user.email}}</p>
                </div>
              </div>
              <hr>
            </li>
            <!-- Links -->
            <li><a class="dropdown-item" href="#"><i class="bi bi-person fa-fw me-2"></i>Edit Profile</a></li>
            <li><span class="dropdown-item text-muted text-decoration-line-through" ><i class="bi bi-gear fa-fw me-2"></i>Account Settings</span></li>
            <li class="dropdown-divider mb-2"></li>
            <li><a class="dropdown-item text-danger" style="cursor:pointer;" (click)="onClickSignOut()"><i class="bi bi-power fa-fw me-2"></i>Sign Out</a></li>
          </ul>
          <!-- Profile dropdown END -->
        </div>
      </div>

    </div>
  </nav>
</header>
