<app-header></app-header>

<div class="container mt-3">

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/movies">Séries</a></li>
        <li class="breadcrumb-item"><a routerLink="/movies/{{ movie.id }}"> #{{ movie.id }}</a></li>
        <li class="breadcrumb-item active">Modifier</li>
    </ol>
    <hr>

    <form
        (ngSubmit)="onSubmitEditSerie()"
        [formGroup]="editSerieForm"
    >

    <div class="form-group">
        <label for="name">Nom de la série</label>
        <input
            type="text"
            formControlName="name"
            id="name"
            class="form-control"
            required
            maxlength="50"
        >
    </div>

    <div class="form-group">
        <label for="description">Description de la série</label>
        <textarea
            type="text"
            formControlName="description"
            id="description"
            class="form-control"
            required
            maxlength="2000"
        ></textarea>
    </div>

    <div class="form-group">
        <label for="critical">Critique de la série</label>
        <textarea
            formControlName="critical"
            id="critical"
            class="form-control"
            required
            maxlength="2000"
        ></textarea>
    </div>

    <div class="form-group">
        <label for="seasons">Nombre de saison(s)</label>
        <input
            type="number"
            formControlName="seasons"
            id="seasons"
            class="form-control"
            required
            min="1"
        >
    </div>

    <div class="form-group">
        <label for="release_date">Date de sortie</label>
        <input
            type="text"
            formControlName="release_date"
            id="release_date"
            class="form-control"
            bsDatepicker
            required
            [bsConfig]="{ isAnimated: true }"
        >
    </div>

    <div class="form-group">
        <label for="picture">URL du poster de la série</label>
        <input
            type="text"
            formControlName="picture"
            id="picture"
            class="form-control"
            required
        >
        <small id="picture" class="form-text text-muted">Voici une image de test : https://placehold.it/1000x1400</small>
    </div>

    <button
        type="submit"
        class="btn btn-primary btn-block"
        [disabled]="editSerieForm.invalid"
        >Modifier</button>
    <a routerLink="/movies">Retour à la liste</a>
    </form>

</div>


