<app-header></app-header>

<div class="container mt-3">

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/series">Séries</a></li>
        <li class="breadcrumb-item active">Ajouter</li>
    </ol>
    <hr>

    <form
        (ngSubmit)="onSubmitNewSerie()"
        #newSerieForm="ngForm"
    >

    <div class="form-group">
        <label for="name">Nom de la série</label>
        <input
            type="text"
            name="name"
            id="name"
            class="form-control"
            [(ngModel)]="newSerie.name"
            required
            maxlength="50"
            #name="ngModel"
            [ngClass]="{'is-invalid': (name.invalid && (name.touched || name.dirty)) }"
        >
        <div *ngIf="name.errors && name.errors.required" class="invalid-feedback">Tu m'as oublié !</div>
    </div>

    <div class="form-group">
        <label for="description">Description de la série</label>
        <textarea
            type="text"
            name="description"
            id="description"
            class="form-control"
            [(ngModel)]="newSerie.description"
            required
            maxlength="2000"
            #description="ngModel"
            [ngClass]="{'is-invalid': (description.invalid && (description.touched || description.dirty)) }"
        ></textarea>

        <div *ngIf="description.errors && description.errors.required" class="invalid-feedback">Tu m'as oublié !</div>
    </div>

    <div class="form-group">
        <label for="critical">Critique de la série</label>
        <textarea
            name="critical"
            id="critical"
            class="form-control"
            [(ngModel)]="newSerie.critical"
            required
            maxlength="2000"
            #critical="ngModel"
            [ngClass]="{'is-invalid': (critical.invalid && (critical.touched || critical.dirty)) }"
        ></textarea>

        <div *ngIf="critical.errors && critical.errors.required" class="invalid-feedback">Tu m'as oublié !</div>
    </div>

    <div class="form-group">
        <label for="seasons">Nombre de saison(s)</label>
        <input
            type="number"
            name="seasons"
            id="seasons"
            class="form-control"
            [(ngModel)]="newSerie.seasons"
            required
            maxlength="50"
            #seasons="ngModel"
            [ngClass]="{'is-invalid': (seasons.invalid && (seasons.touched || seasons.dirty)) }"
        >
        <div *ngIf="seasons.errors && seasons.errors.required" class="invalid-feedback">Tu m'as oublié !</div>
    </div>

    <div class="form-group">
        <label for="release_date">Date de sortie</label>
        <input
            type="text"
            name="release_date"
            id="release_date"
            [(ngModel)]="newSerie.release_date"
            #releaseedAt="ngModel"
            class="form-control"
            bsDatepicker
            required
            min="1"
            [bsConfig]="{ isAnimated: true }"
            [ngClass]="{'is-invalid': (seasons.invalid && (seasons.touched || seasons.dirty)) }"
        >
    </div>

    <div class="form-group">
        <label for="picture">URL du poster de la série</label>
        <input
            type="text"
            name="picture"
            id="picture"
            class="form-control"
            [(ngModel)]="newSerie.picture"
            required
            #picture="ngModel"
            [ngClass]="{'is-invalid': (picture.invalid && (picture.touched || picture.dirty)) }"
        >
        <small id="picture" class="form-text text-muted">Voici une image de test : https://placehold.it/1000x1400</small>
        <div *ngIf="picture.errors && picture.errors.required" class="invalid-feedback">Tu m'as oublié !</div>
    </div>

    <button
        class="btn btn-primary btn-block"
        [disabled]="newSerieForm.invalid"
        >Ajouter</button>
    </form>

</div>


