<app-header></app-header>


<section>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-8 col-xl-6 mx-auto">
        <div class="p-4 p-sm-5 bg-primary bg-opacity-10 rounded">
          <h2>Create an account</h2>

          <alert class="mt-4" type="success" *ngIf="success">You account as been created. You can now sign in <a href="/login">here</a>.</alert>
          <alert class="mt-4" type="danger" *ngIf="errorMessage">{{ errorMessage }}</alert>

          <form class="mt-4"
                [formGroup]="registerForm"
                (ngSubmit)="onSubmitSignIn()">

            <div class="mb-3">
              <label class="form-label" for="username">Username</label>
              <input type="email" class="form-control" id="username" formControlName="username"
                     autofocus>
            </div>

            <div class="mb-3">
              <label class="form-label" for="email">E-mail</label>
              <input type="email" class="form-control" id="email" formControlName="email">
            </div>

            <div class="mb-3">
              <label class="form-label" for="password">Password</label>
              <input type="password" class="form-control"
                     id="password"
                     formControlName="password"
                     type="password">

            </div>

            <div class="row align-items-center">
              <div class="col-sm-4">
                <button [disabled]="registerForm.invalid || this.authService.isLoading" class="btn btn-dark btn-block">
                  Register me !
                  <div *ngIf="authService.isLoading" class="spinner-border spinner-border-sm" role="status"></div>
                </button>
              </div>
              <div class="col-sm-8 text-sm-end">
                <span>Already have an account? <a routerLink="/login"><u>Sign In</u></a></span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>


